<div class="todo-list">
  <mat-card>
    <mat-card-content>
      <div class="content">
        <app-input
          [control]="todoNameControl"
          [label]="'Todo name'"
        ></app-input>
        <div class="buttons">
          <button mat-button color="primary">Add todo</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <div class="content">
        <p>Todo 1</p>
        <div class="buttons">
          <button mat-button color="primary">Done</button>
          <button mat-button color="warn">Delete</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div class="content">
        <p>Todo 2</p>
        <div class="buttons">
          <button mat-button color="primary">Done</button>
          <button mat-button color="warn">Delete</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
